{% extends 'store/main.html' %}

{% load static %}


{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="box-element">
                <a href="{% url 'store'%}" class="btn btn-outline-dark mb-4">&#x2190 Continue shopping</a>

                <table class='table'>
                    <tr>
                        <th><h5>Items: <strong>3</strong></h5></th>
                        <th><h5>Total: <strong>$53</strong></h5></th>
                        <th class='d-flex justify-content-end'>
                            <a href="{% url 'checkout' %}" class="btn btn-success">Checkout</a>
                        </th>
                    </tr>
                </table>
            </div>
            <br>
            <div class="box-element">
                <div class="cart-row">
                    <div class='font-weight-bold' style='flex:2'></div>
                    <div class='font-weight-bold' style='flex:2'>Item</div>
                    <div class='font-weight-bold' style='flex:2'>Price</div>
                    <div class='font-weight-bold' style='flex:2'>Quantity</div>
                    <div class='font-weight-bold' style='flex:1'>Total</div>
                </div>

                <div class="cart-row">
                    <div style='flex:2'>
                        <img class='product-image' src="{% static 'images/placeholder.png' %}" alt='product-image'>
                    </div>
                    <div class="align-middle" style='flex:2; display: inline-block;'>Item</div>
                    <div style='flex:2'>$36</div>
                    <div style='flex:2'>
                        <div class="quantity">
                            <img src="{% static 'images/arrow-up.png' %}" alt="up-btn" class="up">
                            <img src="{% static 'images/arrow-down.png' %}" alt="up-btn" class="down">
                            <p class="quantity">2</p>
                        </div>
                    </div>
                    <div style='flex:1'>$56</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
