{% extends 'store/main.html' %}

{% load static %}


{% block content %}
    <div class="row">
        <div class="col-lg-6">
            <div class="box-element" id='form-wrapper'>
                <form id="form" method='post'>
                    {% csrf_token %}
                    <div class="user-info mb-3">
                        <div class="form-field">
                            <input type="text" class="form-control" name='name' id='name' placeholder='Name' required>
                        </div>
                        <div class="form-field">
                            <input type="email" class="form-control" name='email' id='email' placeholder='Email address' required>
                        </div>
                    </div>
                    
                    <div class="shipping-info">
                        <h5>Shipping information</h5>
                        <p class="text-info">Delivery only for Nairobi and its outskirts.</p>
                        <hr>
                        <div class="form-field">
                            <input type="text" class="form-control" name='city' id='city' required placeholder='Location eg Kiambu, Kilimani'>
                        </div>

                        <div class="form-field">
                            <input type="text" class="form-control" name='estate' id='estate' placeholder='Estate'>
                        </div>

                        <div class="form-field">
                            <input type="text" class="form-control" name='building' id='building' placeholder='Building'>
                        </div>

                        <div class="form-field">
                            <input type="text" class="form-control" name='house' id='house' placeholder='House Number'>
                        </div>
                    </div>
                    <hr>
                    <input id='form-button' class='btn btn-success btn-block' type='submit' value='Continue'>
                </form>
            </div>

            <div id="payment-options" class='box-element mt-3 d-none'>
                <p>Please make your payment below. Thank you for shopping with Uptown Liquor.</p>
                <P> Lipa na M-pesa Till Number: 123456 (Uptown Liquor)</P>
                <p>Amount: {{order.get_cart_total|floatformat:2}}</p>
                <input type="hidden" id="amount" value="{{order.get_cart_total}}" />
                <input class='form-control mb-4' type="text" placeholder="Confirmation Code" id='confirmation-code'/>
                <button class="btn btn-primary" onclick="submitConfirmationCode()">Submit code</button>
            </div>
            <div class="conf d-none">
                Your payment has been received. Your items are on the way. Please stand by for our rider's call.
            </div>
        </div>

        <div class="col-lg-6 order-summary">
            <div class="box-element">
                <a href="{% url 'cart' %}" class="box-element btn btn-outline-secondary btn-sm mb-3">&#x2190 Back to cart</a>

                <h5>Order summary</h5>
                <hr>
                <div class="cart-row">
                    <div class='font-weight-bold' style='flex:2'></div>
                    <div class='font-weight-bold' style='flex:2'>Item</div>
                    <div class='font-weight-bold' style='flex:2'>Price</div>
                    <div class='font-weight-bold' style='flex:2'>Quantity</div>
                    <div class='font-weight-bold' style='flex:1'>Total</div>
                </div>
                
                {% for item in items %}
                    <div class="cart-row smaller-summary">
                                             
                        <div style='flex:2'>{{item.product.name}}</div>
                        <div style='flex:2'>ksh {{item.product.price}}</div>
                        <div style='flex:2'>{{item.quantity}}</div>
                        <div style='flex:1'>ksh {{item.get_total}}</div>
                
                    </div>
                {% endfor %}
                <hr>
                <p>Items: {{order.get_cart_items}}</p>
                <p>Total: ksh {{order.get_cart_total|floatformat:2}}</p>
            </div>
        </div>
    </div>

    <script type='text/javascript'>
        var shipping = '{{order.shipping}}';
        var shipping_div = document.querySelector('.shipping-info');
        var user_info_div = document.querySelector('.user-info');
        

        shipping == 'False' ? shipping_div.classList.add('d-none') : shipping_div.classList.remove('d-none');  

        user != 'AnonymousUser' ? user_info_div.classList.add('d-none') : user_info_div.classList.remove('d-none');

        if (shipping == 'False' && user != 'AnonymousUser') {
            document.getElementById('form-wrapper').classList.add('d-none');
            document.getElementById('payment-options').classList.remove('d-none');
        }

        let form = document.getElementById('form');
        csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        
        form.addEventListener('submit', (e) => {
            e.preventDefault();
            document.querySelector('#form-button').classList.add('d-none');
            document.querySelector('#payment-options').classList.remove('d-none');
        })

        document.querySelector('.make-payment').addEventListener('click', () => submitFormData())

        function submitConfirmationCode() {
            const confirmationCode = document.querySelector('#confirmation-code').value
            const email = document.querySelector('#email').value
            const name = document.querySelector('#name').value
            const amount = document.querySelector('#amount').value
            if (!confirmationCode) {
                alert('Please input ypur confirmation code')
                return
            }

            const data = {
                confirmationCode,
                email,
                name,
                amount
            }

            let url = '/process_order/';

            const redirectHome = () => {
                window.location.href = "{% url 'store' %}"
            }

            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-type': 'application/json',
                    'X-CSRFToken': csrftoken,
                    'X-Requested-With': 'XMLHttpRequest',
                    "HTTP_X_REQUESTED_WITH": "XMLHttpRequest" 
                },
                body: JSON.stringify(data),
            }).then(response => response.json())
            .then(data => {
                console.log('Success: ', data)
                const conf =document.querySelector('.conf')
                conf.classList.remove('d-none')
                alert('Transaction complete');

                cart = {}
                document.cookie = 'cart=' + JSON.stringify(cart) + ';domain=;path=/'; 
                setTimeout(redirectHome, 20000)
                
            })
            .catch(error => console.log('Error: ', error));
            
        }
    </script>
{% endblock %}
