{% extends 'store/main.html' %}

{% load static %}


{% block content %}
    <div class="row">
        <div class="col-lg-6">
            <div class="box-element" id='form-wrapper'>
                <form action="#" id="form" method='post'>

                    <div class="user-info mb-3">
                        <div class="form-field">
                            <input type="text" class="form-control" name='name' id='name' placeholder='Name'>
                        </div>
                        <div class="form-field">
                            <input type="email" class="form-control" name='email' id='email' placeholder='Email address'>
                        </div>
                    </div>
                    
                    <div class="shipping-info">
                        <h5>Shipping information</h5>
                        <hr>
                        <div class="form-field">
                            <input type="text" class="form-control" name='city' id='city' placeholder='City'>
                        </div>

                        <div class="form-field">
                            <input type="text" class="form-control" name='address' id='address' placeholder='Address'>
                        </div>

                        <div class="form-field">
                            <input type="text" class="form-control" name='street' id='street' placeholder='Street'>
                        </div>

                        <div class="form-field">
                            <input type="text" class="form-control" name='house' id='house' placeholder='House'>
                        </div>
                    </div>
                    <hr>
                    <input id='form-button' class='btn btn-success btn-block' type='submit' value='Continue'>
                </form>
            </div>

            <div id="payment-options" class='box-element mt-3 d-none'>
                <small>Paypal options</small>
                <button class="make-payment btn btn-primary">Make Payment</button>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="box-element">
                <a href="{% url 'cart' %}" class="box-element btn btn-outline-secondary btn-sm mb-3">&#x2190 Back to cart</a>

                <h5>Order summary</h5>
                <hr>
                <div class="cart-row">
                    <div class='font-weight-bold' style='flex:2'></div>
                    <div class='font-weight-bold' style='flex:2'>Item</div>
                    <div class='font-weight-bold' style='flex:2'>Price</div>
                    <div class='font-weight-bold' style='flex:2'>Quantity</div>
                    <div class='font-weight-bold' style='flex:1'>Total</div>
                </div>
                {% for item in items %}
                    <div class="cart-row summary">
                        <div style='flex:2;'>
                            <img class='product-image thumbnail' src="{{item.product.imageURL}}" alt='product-image'>
                        </div>
                        <div style='flex:2'>{{item.product.name}}</div>
                        <div style='flex:2'>${{item.product.price}}</div>
                        <div style='flex:2'>{{item.quantity}}</div>
                        <div style='flex:1'>${{item.get_total}}</div>
                    </div>
                {% endfor %}
                <hr>
                <p>Items: {{order.get_cart_items}}</p>
                <p>Total: ${{order.get_cart_total|floatformat:2}}</p>
            </div>
        </div>
    </div>

    <script type='text/javascript'>
        var shipping = '{{order.shipping}}';
        var shipping_div = document.querySelector('.shipping-info');
        var user_info_div = document.querySelector('.user-info');
        

        shipping == 'False' ? shipping_div.classList.add('d-none') : shipping_div.classList.remove('d-none');  

        user != 'AnonymousUser' ? user_info_div.classList.add('d-none') : user_info_div.classList.remove('d-none');

        if (shipping == 'False' && user != 'AnonymousUser') {
            document.getElementById('form-wrapper').classList.add('d-none');
            document.getElementById('payment-options').classList.remove('d-none');
        }

        let form = document.getElementById('form');
        
        form.addEventListener('submit', (e) => {
            e.preventDefault();
            document.querySelector('#form-button').classList.add('d-none');
            document.querySelector('#payment-options').classList.remove('d-none');
        })

        document.querySelector('.make-payment').addEventListener('click', () => submitFormData())

        function submitFormData() {
            //const formData = new FormData(form);
            //console.log(formData.entries());
            let form = document.getElementById('form');
            //let formData = new FormData(form);


            var userFormData = {
                'name': null,
                'email': null,
                'total': "{{order.get_cart_total}}"
            }

            var shippingInfo = {
                'city': null,
                'street': null,
                'address': null,
                'house': null
            }

            if (shipping != 'False') {
                shippingInfo.address = form.address.value;
                shippingInfo.city = form.city.value;
                shippingInfo.street = form.street.value;
                shippingInfo.house = form.house.value;
            }

            if (user == 'AnonymousUser') {
                userFormData.name = form.name.value;
                userFormData.email = form.email.value;
            }
            const data = {'form': userFormData, 'shipping': shippingInfo};
            console.log(data.shipping);

            let url = '/process_order/';

            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-type': 'application/json',
                    'X-CSRFToken': csrftoken,
                    'X-Requested-With': 'XMLHttpRequest',
                    "HTTP_X_REQUESTED_WITH": "XMLHttpRequest" 
                },
                body: JSON.stringify(data),
            }).then(response => response.json())
            .then(data => {
                console.log('Success: ', data)
                alert('Transaction complete');
                window.location.href = "{% url 'store' %}"
            })
            .catch(error => console.log('Error: ', error));
        }
    </script>
{% endblock %}
