{% extends 'store/main.html' %}

{% load static %}


{% block content %}
    <div class="row">
        <div class="col-lg-6">
            <div class="box-element" id='form-wrapper'>
                <form action="#" id="form">

                    <div class="user-info mb-3">
                        <div class="form-field">
                            <input type="text" class="form-control" name='name' placeholder='Name'>
                        </div>
                        <div class="form-field">
                            <input type="email" class="form-control" name='email' placeholder='Email address'>
                        </div>
                    </div>
                    
                    <div class="shipping-info">
                        <h5>Shipping information</h5>
                        <hr>
                        <div class="form-field">
                            <input type="text" class="form-control" name='city' placeholder='City'>
                        </div>

                        <div class="form-field">
                            <input type="text" class="form-control" name='address' placeholder='Address'>
                        </div>

                        <div class="form-field">
                            <input type="text" class="form-control" name='street' placeholder='Street'>
                        </div>

                        <div class="form-field">
                            <input type="text" class="form-control" name='house' placeholder='House'>
                        </div>
                    </div>
                    <hr>
                    <input id='form-button' class='btn btn-success btn-block' type='submit' value='Continue'>
                </form>
            </div>

            <div id="payment-options" class='box-element mt-3 d-none'>
                <small>Paypal options</small>
                <button class="make-payment btn btn-primary">Make Payment</button>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="box-element">
                <a href="{% url 'cart' %}" class="box-element btn btn-outline-secondary btn-sm mb-3">&#x2190 Back to cart</a>

                <h5>Order summary</h5>
                <hr>
                <div class="cart-row">
                    <div class='font-weight-bold' style='flex:2'></div>
                    <div class='font-weight-bold' style='flex:2'>Item</div>
                    <div class='font-weight-bold' style='flex:2'>Price</div>
                    <div class='font-weight-bold' style='flex:2'>Quantity</div>
                    <div class='font-weight-bold' style='flex:1'>Total</div>
                </div>
                {% for item in items %}
                    <div class="cart-row summary">
                        <div style='flex:2;'>
                            <img class='product-image thumbnail' src="{{item.product.imageURL}}" alt='product-image'>
                        </div>
                        <div style='flex:2'>{{item.product}}</div>
                        <div style='flex:2'>${{item.product.price}}</div>
                        <div style='flex:2'>{{item.quantity}}</div>
                        <div style='flex:1'>${{item.get_total}}</div>
                    </div>
                {% endfor %}
                <hr>
                <p>Items: {{order.get_cart_items}}</p>
                <p>Total: ${{order.get_cart_total|floatformat:2}}</p>
            </div>
        </div>
    </div>

    <script type='text/javascript'>
        var shipping = '{{order.shipping}}';
        var shipping_div = document.querySelector('.shipping-info');
        shipping == 'False' ? shipping_div.classList.add('d-none') : shipping_div.classList.remove('d-none');  

        let form = document.querySelector('#form');
        
        form.addEventListener('submit', (e) => {
            e.preventDefault();
            document.querySelector('#form-button').classList.add('d-none');
            document.querySelector('#payment-options').classList.remove('d-none');
        })

        document.querySelector('.make-payment').addEventListener('click', () => submitFormData())

        function submitFormData() {
            console.log('payment button clicked')
        }
    </script>
{% endblock %}
