{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style='font-size: large;'>
    <a class="navbar-brand" href="{% url 'store' %}">Uptown Liquor</a>
    
      <div class="form-inline my-2 my-lg-0">
          <a href="{% url 'cart' %}">
              <img src="{% static 'images/cart-icon.png' %}" alt="cart icon" id="cart-icon">
          </a>
          <p id='cart-total' class='text-danger text-sm'></p>    
      </div>
  </nav>
  <script type='text/javascript' src='{% static "js/cartItems.js" %}'>

  </script>