{% extends 'store/main.html' %}

{% load static %}

{% block content %}
   <div class="store">
       <h2 class="caption">GINICE HII HOLIDAY</h2>
       <p>Check out our special labor day discounts</p>
       <div class="offers">
           {% if product.is_availeble %}
            {% for product in products %}
            <div class="product">
                <img src="{{product.imageURL}}" alt="product-image" class="product-img">
                <hr/>
                <div class="product-desc">
                    <h2 class="product-name">{{product.name}}</h2>
                    <div class="actions">
                        <button data-product="{{product.id}}" data-action="add" class="update-cart btn btn-outline-success btn-sm">Add to cart</button>
                        {% if product.is_availeble %}
                            <p class="actual-price">ksh {{product.actual_price}}</p>
                        {% endif %}
                        <p class="discount-price">ksh {{product.discount_price}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% endif %}
       </div>
       <div class="products">
        {% if not product.is_availeble %}
        {% for product in products %}
        <div class="product">
            <img src="{{product.imageURL}}" alt="product-image" class="product-img">
            <hr/>
            <div class="product-desc">
                <h2 class="product-name">{{product.name}}</h2>
                <div class="actions">
                 <button data-product="{{product.id}}" data-action="add" class="update-cart btn btn-outline-success btn-sm">Add to cart</button>
                 {% if product.is_availeble %}
                     <p class="actual-price">ksh {{product.actual_price}}</p>
                 {% endif %}
                 <p class="discount-price">ksh {{product.discount_price}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>

    <div class="contact-us">
        WhatsApp us at +254790016054 or email us at liquoruptown2@gmail.com for any inquiries.
    </div>
   </div>
    
{% endblock %}

