#cart-icon {
    height: 3rem;
    width: 3rem;
    margin-left: 20px;
}

.box-element {
    box-shadow: hsl(0, 0%,80%) 0 0 16px;
    background-color: #fff;
    border-radius: 4px;
    padding: 10px;
}

.product {
    border-radius: 0 0 4px 4px;
}

.product-image {
    width: 100%;
}

.cart-row {
    display: flex;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;
    justify-content: center;
    align-items: center;
}

.cart-row .product-image {
    display: inline-block;
    width: 90%;
    margin-right: 100px;
}
.quantity {
    display: inline-block;
}
.up{
    width: 15px;
}
.down{
    width: 10px;

}
.form-field {
    display: inline-block;
    margin: 5px;
}